[package]
name = "faster-chars-count-performance"
version = "0.1.0"
authors = ["aobatact <aobatact144@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[dev-dependencies]
criterion = "0.3"
rand = "0.7.3"

[[bench]]
name = "bench"
harness = false
